@charset "utf-8";
/* CSS Document */

body {
	background-color: #ADC8E2;
	color: #FF8AC5;
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
}
h1
{ 
color: #FF80C0; 
font-family:  "Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size: 30pt; 
}
p{  

font-size:25px;
color:#000000;
font-family:Georgia, "Times New Roman", Times, serif;
	}
	li{
		font-size:25px;
color:#000000;
font-family:Georgia, "Times New Roman", Times, serif;
		}
#seleccion 
{ 
font-size: 15pt; 
}
h2
{ 
color: #069; 
font-family:  "Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size: 15pt; 
}
#capa2 { border-radius:15px 0px 15px 25px; margin-top:20px; 
 padding:20px; 
 width: 350px; 
 background-color: rgba(10,170,190,0.7); 
  } 
#capa3{
 border-radius:100px / 50px; 
 margin-top:20px;
  padding:20px; 
  width:800px; 
  height:400px; 
  background-color: rgba(100,120,50,0.7);
   } 
   .ejemplo{ 
/* moz para mozilafirefox*/
-moz-column-count: 3;
-moz-column-width: 100px;
 -moz-column-gap: 20px; 
 -moz-column-rule: 1px solid #ccc;
 /* webkit para crome google*/
 -webkit-column-count: 3;
-webkit-column-width: 100px; 
-webkit-column-gap: 20px; 
-webkit-column-rule: 1px solid #ccc; 
 } 
 .sombra2{
            box-shadow: 5px 10px 7px rgba(0,0,0,0.5), -5px -10px 7px rgba(0,0,0,0.5);
            -webkit-box-shadow: 5px 10px 7px rgba(0,0,0,0.5), -5px -10px 7px rgba(0,0,0,0.5);
            -moz-box-shadow: 5px 10px 7px rgba(0,0,0,0.5), -5px -10px 7px rgba(0,0,0,0.5);
        }
        
       	 #texto{
            text-align:center;
            font-family:arial;
            font-size:30px;
            font-weight:bold;
            color:rgba(256,256,256,1);
            text-shadow: 1px 1px 0px rgba(230,230,230,1), 2px 2px 0px rgba(200,200,200,1), 3px 3px 0px rgba(180,180,180,1), 4px 4px 0px rgba(160,160,160,1), 5px 5px 0px rgba(0,0,0,1), 8px 8px 20px rgba(0,0,0,0.5);
        }
        .tresde{
            font-size:25px;
        }
.a {
	font-size: 24pt;
}
